@page "/"

<PageTitle>Home</PageTitle>

<MudPaper Class=" transparent-bg no-shadow" Height="600px" Width="100%" Square="true">
    <MudContainer Fixed="true" Class="d-flex justify-center align-center" Style="height:100%;">
      <MudCarousel Class="mud-width-full" Style="height:80%;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
          <MudCarouselItem Class="carousel-dark-bg" Transition="transition" Color="@Color.Primary">
              <div class="d-flex" style="height:100%">
                  <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
              </div>
          </MudCarouselItem>
          <MudCarouselItem Class="carousel-dark-bg" Transition="transition" Color="@Color.Primary">
              <div class="d-flex" style="height:100%">
                  <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
              </div>
          </MudCarouselItem>
          <MudCarouselItem Class="carousel-dark-bg" Transition="transition" Color="Color.Primary">
              <div class="d-flex" style="height:100%">
                  <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
              </div>
          </MudCarouselItem>
      </MudCarousel>
  </MudContainer>
</MudPaper>
<MudPaper Class=" transparent-bg no-shadow" Height="600px" Width="100%" Square="true">
    <MudContainer Fixed="true" Class="d-flex justify-end align-center" Style="height:100%;">
        <MudCard Outlined="true" Class="transparent-bg" Style="border-color: gray;">
           <MudCardMedia Image="images/door.jpg" Height="200" />
           <MudCardContent>
               <MudText Typo="Typo.h5">Old Paint</MudText>
               <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
               <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
           </MudCardContent>
           <MudCardActions>
               <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
               <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
           </MudCardActions>
        </MudCard>
    </MudContainer>
</MudPaper>

@* Transition Select *@

@* <MudSelect @bind-Value="transition" Label="Transition" Class="ma-2">
    <MudSelectItem Value="@Transition.Fade">Fade</MudSelectItem>
    <MudSelectItem Value="@Transition.Slide">Slide</MudSelectItem>
    <MudSelectItem Value="@Transition.None">None</MudSelectItem>
</MudSelect> *@

@* Switches *@

@* <MudSwitch @bind-Value="arrows" Color="Color.Primary">Show Arrows</MudSwitch>
<MudSwitch @bind-Value="bullets" Color="Color.Primary">Show Bullets</MudSwitch>
<MudSwitch @bind-Value="enableSwipeGesture" Color="Color.Primary">Enable Swipe Gesture</MudSwitch>
<MudSwitch @bind-Value="autocycle" Color="Color.Primary">Auto Cycle (Default: 5 secs)</MudSwitch> *@

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}